:root {
    --bg : #444444;
    --bg-dark: #282828;
    --light:#ddd;
    --border: #353535;
    --primary: #2082f1;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Thin.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Roboto-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html{
    height: 100vh;
}

body {
    background-color: var(--bg);
    color:var(--light);
    font-family: 'Roboto-Thin', sans-serif;
}

#wrapper .container  {
    display: grid;
    grid-template-columns: 300px auto 300px;
}

#header {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 70px;
    background-color: var(--bg);
    line-height: 70px;
    padding-left: 20px;
    border-bottom: var(--border) solid 1px;
}

#main {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: var(--bg-dark);
    height: 70vh;
}

#left-side {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: var(--bg);
    border-right: var(--border) solid 1px;
}

#right-side {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: var(--bg);
    border-left: var(--border) solid 1px;
}

#footer {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: var(--bg);
    min-height: 200px;
    border-top: var(--border) solid 1px;
}

#ready-art {
    width: 100%;
    padding: 10px;
}

.bleed {
    fill:#fff;
    stroke: red; 
    stroke-width: 1px;
}

.primary {
    background-color: var(--primary);
}

.btn {
    border-style: none;
    border-width: 0px;
    padding: 8px;
    color:var(--light);
}

#save-btn {
    width:50px;
    height: 30px;
}

#ready-container   {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#ready-art-control {
    padding: 10px;
    align-self: end;
    justify-self: right;
}

