:root {
    --bg: #444444;
    --bg-dark: #282828;
    --light: #ddd;
    --border: #353535;
    --primary: #2082f1;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../fonts/Roboto/Roboto-LightItalic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Thin.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../fonts/Roboto/Roboto-ThinItalic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto/Roboto-Italic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Italic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto/Roboto-BoldItalic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto/Roboto-Black.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-Black.svg#Roboto-Black') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto/Roboto-BlackItalic.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
    /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100vh;
}

body {
    background-color: var(--bg);
    color: var(--light);
    font-family: 'Roboto-Thin', sans-serif;
}

h1 {
    font-weight: normal;
}

#wrapper .container {
    display: grid;
    grid-template-columns: 300px auto 300px;
}

#header {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
    height: 70px;
    background-color: var(--bg);
    line-height: 70px;
    padding-left: 20px;
    border-bottom: var(--border) solid 1px;
}

.form-group {
    margin: 10px;
}

.pg-size label {
    display: inline-block;
    width: 80px;
}

.form-group input[type=number] {
    width: 70px;
    text-align: center;
}

#main {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: var(--bg-dark);
    height: 70vh;
}

#left-side {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: var(--bg);
    border-right: var(--border) solid 1px;
    padding: 10px;
}

#right-side {
    grid-row: 2/3;
    grid-column: 3/4;
    background-color: var(--bg);
    border-left: var(--border) solid 1px;
}

#footer {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: var(--bg);
    min-height: 200px;
    border-top: var(--border) solid 1px;
}

#ready-art {
    width: 100%;
    padding: 10px;
}

.bleed {
    fill: #fff;
    stroke: red;
    stroke-width: 1px;
}

.primary {
    background-color: var(--primary);
}

.btn {
    border-style: none;
    border-width: 0px;
    padding: 8px;
    color: var(--light);
}

#save-btn {
    width: 50px;
    height: 30px;
}

#ready-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#ready-art-control {
    padding: 10px;
    align-self: end;
    justify-self: right;
}

#margins-grid {
    display: grid;
    grid-template-columns: 1fr 32px 1fr;
    grid-auto-rows: 1fr 32px 1fr;
}

#margin-link-container {
    align-self: center;
    justify-self: center;
}

#margin-left-right-container .form-group {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

#margin-top-bottom-container .form-group {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}